<!doctype html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{layout/padrao}">
<head>
    <title>Lista de Produtos</title>
</head>
<body>

<th:block layout:fragment="conteudo">
    <section class="my-4">
        <div class="container">
            <h2>Lista de Produtos</h2>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light text-center">
                    <tr>
                        <th>Código</th>

                        <th>Nome</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="produto: ${produtos}">
                        <td class="text-center w-25"
                            th:text="${produto.id}">1</td>

                        <td>
                            <a href="javascript:;" th:text="${produto.nome}"
                               th:href="@{/produtos/{id}/editar(id=${produto.id})}">Nome produto</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</th:block>

</body>
</html>